* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --body-padding: 24px;
  --neg-body-padding: -24px;
  --main-font-size: 0.9em;
  --body-padding-bottom: 64px;
}

body {
  padding: 0 var(--body-padding);
  padding-bottom: var(--body-padding-bottom);
}
button {
  background-color: white;
}

ul {
  list-style-type: none;
  line-height: 1.4em;
  font-size: 0.9em;
  color: rgb(118, 118, 118);
}

/* NAVIGATION  */

#navigation {
  /* max-width: 500px; */
  /* background-color: green; */
  display: grid;
  gap: 10px;
  grid-template-columns: minmax(0, 1fr) 40px;
  margin-top: 1em;
}

#search_button {
  width: 100%;
  grid-column-start: 1;
  display: flex;
  /* background-color: pink; */
  justify-content: flex-start;
  align-items: center;
  border-radius: 40px;
  box-shadow: 0px 8px 15px 0px #2b2b2b40;
  -moz-box-shadow: 0px 8px 15px 0px #2b2b2b40;
  -webkit-box-shadow: 0px 8px 15px 0px #2b2b2b40;
  border: none;
  cursor: pointer;
}

#search_icon {
  padding: 1.3em;

  /* background-color: blue; */
}

#search_label {
  margin: 0 px;
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}

#search_heading {
  /* background-color: yellow; */
  font-weight: 600;
}

#search_subheading {
  font-size: var(--main-font-size);
  color: rgb(118, 118, 118);
}

.search_labels {
  align-self: flex-start;
  letter-spacing: 0.02em;
}

#magnifying-glass {
  font-size: 1.5em;
}

#filter_button {
  font-weight: bolder;
  font-size: 1.1em;
  border-radius: 50%;
  padding: 0.7em;
  margin-top: 5px;
  border: 1px solid rgb(164, 164, 164);
  cursor: pointer;
}

/* ******* NAV SCROLLER ********* */

#nav_scroller {
  display: grid;
  grid-auto-flow: column;
  gap: 16px;
  overflow-x: auto;
  /* stops scrolling past end point */
  overscroll-behavior-inline: contain;
  margin-bottom: 8px;
  grid-column: span 2;
  font-size: 0.8em;
  padding: 4px 4px 0px 4px;
  margin-top: 12px;
  margin-right: var(--neg-body-padding);
  margin-left: var(--neg-body-padding);
  margin-bottom: var(--body-padding);
  /* border-bottom: 1px solid black; */
  box-shadow: 0px 4px 3px 0px rgba(191, 190, 190, 0.21);
  -moz-box-shadow: 0px 4px 3px 0px rgba(191, 190, 190, 0.21);
  -webkit-box-shadow: 0px 4px 3px 0px rgba(191, 190, 190, 0.21);
}

/* hides scroll for chrome, safari opera */
#nav_scroller::-webkit-scrollbar {
  display: none;
}

/* hides scroll for IE and firefox */
#nav_scroller {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.menu_item:first-child {
  margin-left: var(--body-padding);
}

.menu_item {
  padding-bottom: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  transition: all 200ms ease-in-out;
  border-bottom: 2px solid transparent;
  opacity: 0.64;
}

.menu_item:focus {
  border-bottom: 2px solid black;
  opacity: 1;
}

.menu_item:hover {
  cursor: pointer;
  opacity: 1;
  border-bottom: 2px solid rgb(0, 0, 0);
}

.menu_item img {
  height: 24px;
  width: 24px;
}

/* keeps span text on one line */
.menu_item_label_text {
  white-space: nowrap;
}

/* ******** FOOTER NAVIGATION ******** */
.footer_nav {
  display: flex;
  justify-content: center;
  grid-column: span 2;
  position: fixed;
  border: 1px solid #ebebeb;
  bottom: 0;
  width: 100%;
  padding: 10px;
  margin-left: var(--neg-body-padding);
  background-color: white;
  z-index: 1000;
  transition: transform 0.5s;
  transition-delay: 1s;
}

.footer_nav_hidden {
  transform: translateY(var(--body-padding-bottom));
}

.footer_nav_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  text-decoration: none;
  color: #717171;
}

.footer_nav_button:focus {
  color: #e81948;
}

.footer_nav_button_label {
  font-size: 0.6em;
  line-height: 0.75em;
}

.footer_nav_icon {
  font-size: 1.5em;
  margin-bottom: 2px;
  padding: 3px;
}

.footer_nav_map_button {
  position: absolute;
  top: -60px;
  padding: 13px 21px;
  border-radius: 24px;
  color: white;
  background: #222;
  border: none;
  font-size: 0.8em;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.footer_nav_map_button:hover {
  transform: scale(1.04);
  -webkit-box-shadow: 0px 6px 5px 0px rgba(14, 14, 14, 0.19);
  box-shadow: 0px 6px 5px 0px rgba(14, 14, 14, 0.19);
}

#map_icon {
  margin-left: 3px;
}

/* ******* ACCOMMODATION CARD ******* */
.card_container {
  margin: 10px 0 50px 0;
}

.img_box {
  width: 100%;
  height: calc(100vw - 40px); /* creats square image sort of */
  position: relative;
}

.img_box > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

#label_container {
  padding: 15px;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: start; /*stops flex items expanding to fill cross axis*/
}

.heart_icon {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.575);
  font-size: 1.35rem;
  align-self: baseline;
  border: none;
  margin-top: 6px; /* bit of a hack because alignment off */
}

.img_label {
  padding: 6px 12px;
  background-color: white;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
}

/* hack but it works for now */
.img_label_hidden {
  z-index: -20;
}

.host_offering {
  margin-top: 15px;
  position: relative;
}

.host_offering li:first-child {
  font-weight: 600;
  color: black;
}

.host_offering li:last-child {
  position: absolute;
  right: 0;
  top: 0;
}

.host_offering li:nth-child(4) {
  text-decoration: underline;
}

.fa-star {
  color: black;
}

#price {
  line-height: 2.2em;
  color: black;
  font-weight: 600;
}

#call_to_action {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}

.call_to_action_text {
  font-weight: 500;
  font-size: 1.1em;
  letter-spacing: 0.02em;
}

.call_to_action_button > button {
  font-size: 1rem;
  border: none;
  margin-top: 16px;
  padding: 14px 24px;
  background: #222;
  color: #ebebeb;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.call_to_action_button > button:hover {
  background: #000;
}

#inspiration_section {
  padding: 48px var(--body-padding);
  background: #f7f7f7;
  margin: 0 var(--neg-body-padding);
}

.inspiration_section_nav_heading {
  font-weight: 500;
}

.inspiration_section_nav_scroller {
  display: grid;
  gap: 30px;
  grid-auto-flow: column;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  margin-right: var(--neg-body-padding);
}

.inspiration_nav_button:last-child {
  margin-right: var(--body-padding);
}

.inspiration_section_nav_scroller::-webkit-scrollbar {
  display: none;
}

.inspiration_section_nav_scroller {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.inspiration_nav_button {
  border: none;
  margin: 6px 6px 0px 0;
  padding: 10px 0 16px 0;
  background: transparent;
  font-size: 15px;
  letter-spacing: 0.05;
  color: #717171;
  white-space: nowrap;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

.inspiration_nav_button:focus {
  border-bottom: 2px solid #222;
  color: #222;
}

.seperator_line {
  height: 1px;
  background-color: #ddd;
}

.inspiration_link_list {
  padding-top: 32px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 8px;
  row-gap: 24px;
}

.inspiration_link_ancor {
  text-decoration: none;
  color: #717171;
  display: flex;
  flex-direction: column;
}

.inspiration_location {
  color: #222;
  font-weight: 600;
}
