.footer_nav {
  display: flex;
  justify-content: center;
  grid-column: span 2;
  position: fixed;
  border: 1px solid #ebebeb;
  bottom: 0;
  width: 100%;
  padding: 10px;
  margin-left: var(--neg-body-padding);
  background-color: white;
  z-index: 1000;
  transition: transform 0.5s;
  transition-delay: 1s;
}

/* class added when scroll down detected (js script) */
.footer_nav_hidden {
  transform: translateY(var(--body-padding-bottom));
}

.footer_nav_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  text-decoration: none;
  color: #717171;
}

.footer_nav_button:focus {
  color: #e81948;
}

.footer_nav_button_label {
  font-size: 0.7em;
  line-height: 0.9em;
  letter-spacing: 0.5px;
}

.footer_nav_icon {
  font-size: 1.8em;
  margin-bottom: 2px;
  padding: 3px;
}

.footer_nav_map_button {
  position: absolute;
  top: -60px;
  padding: 13px 21px;
  border-radius: 24px;
  color: white;
  background: #222;
  border: none;
  font-size: 0.9em;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.footer_nav_map_button:hover {
  transform: scale(1.04);
  box-shadow: 0 6px 5px 0 #0e0e0e30;
}

.map_icon {
  margin-left: 3px;
}
