.footer_h3 {
  margin-bottom: 12px;
}

.footer_link_list {
  display: grid;
  gap: 12px;
}

.footer_links {
  background: #f7f7f7;
  margin: 0 var(--neg-body-padding);
  padding: 0 var(--body-padding);
}

.site_country-setting {
  margin-bottom: 22px;
}

.copyright_info {
  color: #717171;
}

.footer_link_item {
  display: flex;
}

/* stylelint-disable-next-line no-descending-specificity */
.footer_link_item > span {
  padding: 0 8px;
  align-self: center;
}

.footer_final_links {
  display: flex;
  margin: 8px 0;
  flex-wrap: wrap;
  align-items: baseline;
}

.footer_final_links:last-child {
  /* allows space for footer nav */
  margin-bottom: -64px;
  padding: 0 0 64px;
}

.footer_link_anchor {
  white-space: nowrap;
}

.last-links {
  line-height: 2em;
}
